/*nav S*/
.nav {
    width: 100%;
    height: 90px;
    background-color: rgba(0,0,0,.7);
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 99;
}
.nav .center .nav-left {
    width: 1200px;
    height: 90px;
    float: left;
}
/*.nav .center .nav-left:hover .sub-nav {
    height: 200px;
}*/
.nav .center .nav-right {
    width: 156px;
    height: 90px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 0
}
.nav .center .nav-right a {
    width: 100%;
    display: block;
    font-size: 18px;
    color: #fff;
    text-align: center;
    position: relative;
    margin-top: 25px;
}
.nav .center .nav-right a span {
    display: block;
    color: #666;
    font-size: 10px;
    margin-top: 5px;
}
.nav .center .nav-right:hover {
    /*background: url(images/sprites.png) no-repeat 0 -66px;*/
    background-color: #edb93b
}
.nav .center .nav-right:hover a,
.nav .center .nav-right:hover a span {
    color: #000;
}
.nav .center {
    width: 1366px;
    height: 90px;
    position: relative;
    margin: 0 auto;
}
.nav .center .logo {
    width: 224px;
    height: 55px;
    background-position: 0 0;
    margin-top: 20px;
}
.nav .center .fr .colleague {
    display: none;
}
.nav .center .fr>li {
    width: 156px;
    height: 90px;
    cursor: pointer;
}
.nav .center .fr>li>a {
    width: 100%;
    display: block;
    font-size: 18px;
    color: #fff;
    text-align: center;
    position: relative;
    margin-top: 25px;
}
.nav .center .fr li a span {
    display: block;
    color: #666;
    font-size: 10px;
    margin-top: 5px;
}
.nav .center .fr>li.on,.nav .center .fr>li:hover {
	background-color: #edb93b
}
.nav .center .fr>li.on>a,.nav .center .fr>li.on>a span,
.nav .center .fr>li:hover>a,.nav .center .fr>li:hover>a span {
    color: #000;
}
.sub-nav {
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    /*background: #000;*/
    background: rgba(0,0,0,0.7);
    z-index: 99;
    transition: all .3s ease;
    overflow: hidden;
    height: 0;
    box-sizing: border-box;
}
.sub-nav-inner {
    box-sizing: border-box;
    width: 1370px;
    height: 160px;
    margin: 0 auto;
    overflow: hidden;
    zoom: 1;
    padding: 15px 0 30px 264px;
}
.down-nav {
    float: left;
    display: inline;
    width: 156px;
    /*padding: 2px 5px 0;*/
    text-align: center;
    white-space: nowrap;
}
.down-nav a {
    height: 30px;
    line-height: 30px;
    display: block;
    padding: 0;
    font-size: 14px;
    color: #e5e3e0;
    margin-bottom: 10px;
}
.down-nav a:hover{
    color: #edb93b;
}
.official-channel-warp{
    width: 100%;
    background: rgba(0,0,0,0.7);
    height: 0;
    position: absolute;
    top: 90px;
    z-index: 100;
    overflow: hidden;
    transition:all .3s ;
}
.official-channel{
    width: 1300px;
    margin: 0 auto;
    height: 200px;
}
.channel-left li{
    width: 120px;
    height: 120px;
    display: inline-block;
    background: url(../images/ewmbg.png) no-repeat center;
    margin-right: 50px;
}
.channel-left li a,
.channel-left li div {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}
.channel-left li .wb,.channel-left li .wx,
.channel-left li .xqbl {
    width: 104px;
    height: 104px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -52px;
    margin-top: -52px;
}
.channel-right li.odd {
    margin-left: 48px;
}

.channel-left{
    margin: 27px 0 0 235px;
}
.channel-left li.h-wx {
    top: 0;
}
.channel-left li:after {
    position: relative;
    top: 10px;
    text-indent: 0;
    display: block;
    color: #e5e3e0;
    text-align: center;
    font-size: 16px;
}
.channel-left li.h-wx:after {
    content: 'Î¢ÐÅ';
}
.channel-left li.h-bl:after {
    content: 'QQÈº';
}
.channel-left li.h-wb:after {
    content: 'Î¢²©';
}
.channel-right{
    width: 399px;
    margin-top: 46px;
    position: relative;
}
.channel-right li {
    font-size: 16px;
    color: #e5e3e0;
    height: auto;
    margin-bottom: 10px;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}
.channel-right:before{
    content: '';
    height: 100px;
    position: absolute;
    width: 1px;
    border-left: 1px solid #fff;
}
.spr1{
    background: url(../images/sprite1.png) no-repeat;
    background-size: 800px 600px;
}
/*nav E*/