body {
    font-family:"Microsoft YaHei", '\5FAE\8F6F\96C5\9ED1';
}
.glitch-effect {
	/*margin: auto;*/
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
	top: 10px;
	left: 0;
	right: 0;
	color: #FFF;
	text-align: center;
	font-size: 50px;
	letter-spacing: 10px;
	position: relative;
}

.ge-text {
	position: absolute;
	left: -20px;
	top: 0px;
	/*margin: 50px auto;*/
	color: #fff;
	font-size: 50px;
	line-height: 1;
	letter-spacing: 0.01em;
	transform: scale3d(1, 1, 1);
	padding: 10px 50px;
	background-image: linear-gradient(135deg, #72EDF2 10%, #5151E5 100%);
	overflow: hidden;
}

.ge-text::before, .ge-text::after {
	content: attr(aria-title);
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	color: #fff;
	background-image: linear-gradient(135deg, #72EDF2 10%, #5151E5 100%);
	clip-path: inset(79px 50px 43px 0px);
	overflow: hidden;
}

.ge-text::before {
	left: 7px;
	text-shadow: 1px 0 #a1ffce;
	animation: glitch-effect 3s infinite linear alternate-reverse;
}

.ge-text::after {
	left: 3px;
	text-shadow: -1px 0 #faffd1;
	animation: glitch-effect 2s infinite linear alternate-reverse;
}

@keyframes glitch-effect {
	0% {
		clip-path: inset(4px 40px 51px 0px);
	}
	5% {
		clip-path: inset(89px 40px 20px 0px);
	}
	10% {
		clip-path: inset(90px 40px 80px 0px);
	}
	15% {
		clip-path: inset(59px 40px 78px 0px);
	}
	20% {
		clip-path: inset(41px 40px 8px 0px);
	}
	25% {
		clip-path: inset(33px 40px 28px 0px);
	}
	30% {
		clip-path: inset(57px 40px 61px 0px);
	}
	35% {
		clip-path: inset(22px 40px 34px 0px);
	}
	40% {
		clip-path: inset(88px 40px 86px 0px);
	}
	45% {
		clip-path: inset(82px 40px 83px 0px);
	}
	50% {
		clip-path: inset(13px 40px 74px 0px);
	}
	55% {
		clip-path: inset(5px 40px 36px 0px);
	}
	60% {
		clip-path: inset(43px 40px 9px 0px);
	}
	65% {
		clip-path: inset(79px 40px 11px 0px);
	}
	70% {
		clip-path: inset(37px 40px 1px 0px);
	}
	75% {
		clip-path: inset(88px 40px 45px 0px);
	}
	80% {
		clip-path: inset(76px 40px 71px 0px);
	}
	85% {
		clip-path: inset(15px 40px 37px 0px);
	}
	90% {
		clip-path: inset(39px 40px 77px 0px);
	}
	95% {
		clip-path: inset(7px 40px 49px 0px);
	}
	100% {
		clip-path: inset(69px 40px 33px 0px);
	}
}
.bg-video{
	position: fixed;
    top: 0;
    left: 0;
    height: 100% !important;
    width: 100% !important;
    margin-left: 0 !important;
    object-fit: fill;
}
.section{
	width: 100%;
	font-size:50px;
	text-align: center;
	display: flex;
	justify-content: center;
}
/* kv s */
.kv{
	width: 100%;
	height: 100%;
	background: url(../images/kv.jpg) no-repeat center/cover;
	position: relative;
	opacity: .8;
}
.slogan{
	font-size: 0;
	width: 600px;
	height: 600px;
	opacity: .8;
	position: absolute;
	background: url(../images/text.png) no-repeat center/cover;
	top:50%;
	right:0;
	transform: translate(0,-40%);
}
.todown{
	background-position: -719px -537px;
	width: 81px;
	height: 63px;
	position: absolute;
	bottom: 40px;
	left: 50%;
	transform: translate(-50%,0);
	font-size: 0;
	opacity: .8;
	-webkit-animation: move2 1s linear alternate infinite;
    -o-animation: move2 1s linear alternate infinite;
    animation: move2 1s linear alternate infinite;
}
@keyframes move2 {
    from {bottom: 40px;}
    to {bottom: 20px;}
}
/* section1 s */
.cont{
	width: 1300px;
	margin: 0 auto;
	position: relative;
}
.view_title{
	width: 292px;
	height: 112px;
	background-position: -13px -472px;
	text-indent: -999em;
	position: absolute;
	top: -388px;
	left: -116px;
}
.wrap_video{
	width: 540px;
	height: 266px;
	position: absolute;
	top: -266px;
	left: -116px;
}
.box_video{
	display: block;
	width: 540px;
	height: 266px;
	background: url(../images/draw4.png) no-repeat center/cover;
}
.mask{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 540px;
	height: 266px;
	background: rgba(0,0,0,.5);
	z-index: 99;
	cursor: pointer;
}
.mask:after {
	content: '';
	width: 107px;
	height: 125px;
	background: url(../images/sprite1.png) no-repeat -660px 0/800px 600px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -53px;
	margin-top: -63px;
	transform: scale(.6);
}
.wrap_view{
	width: 992px;
	height: 608px;
	position: absolute;
	right: -220px;
	top: -306px;
}
.wrap_view .title{
	position: absolute;
    top: 69px;
    left: 50%;
    width: 167px;
    height: 425px;
    margin-left: -69px;
    text-indent: -999em;
    z-index: 10;
	pointer-events: none;
	background: rgba(255,255,255,.5);
	background: url(../images/sprite1.png) no-repeat -178px -6px/800px 600px;
	transform: scale(.8);
}
.wrap_view .wallpaper{
	position: absolute;
    top: 0;
    left: 32px;
    width: 672px;
    height: 216px;
    background: rgba(247,247,247,.8);
    box-shadow: 0 2px 8px rgba(0,0,0,.05)
}
.wallpaper .title_wallpaper{
	position: absolute;
	top: 9px;
    right: 28px;
    width: 23px;
    height: 119px;
	text-indent: -999em;
	background-position: 0px -78px;
}
.wallpaper .link_more{
	display: block;
    width: 607px;
    height: 200px;
    margin-top: 8px;
	margin-left: 8px;
	overflow: hidden;
}
.link_more img {
	transition: all .2s;
}
.link_more:hover img{
	transform: scale(1.05);
}
.wrap_view .wallpaper:after{
	content: '';
    display: block;
    position: absolute;
	top: -7px;
	left: -16px;
    width: 16px;
	height: 224px;
	background: #edb93b;
}
.wrap_view .wallpaper:before{
    content: '';
    display: block;
    position: absolute;
	top: -7px;
	right: -16px;
    width: 16px;
	height: 224px;
	background: #edb93b;
}
.wrap_view .music{
	position: absolute;
    top: 0;
    right: 16px;
    width: 224px;
    height: 256px;
    background: rgba(247,247,247,.8);
}
.wrap_view .music .title_music {
	position: absolute;
	bottom: 18px;
    left: 15px;
    width: 66px;
    height: 23px;
	text-indent: -999em;
	background-position: -28px -78px;
}
.music .link_more{
	display: block;
    width: 192px;
    height: 192px;
    margin-top: 16px;
    margin-left: 16px;
	overflow: hidden;
}
.wrap_view .movie{
	position: absolute;
    bottom: 48px;
    left: 16px;
    width: 392px;
    height: 329px;
    background: rgba(247,247,247,.8);
}
.wrap_view .movie .title_movie {
	position: absolute;
	bottom: 16px;
    right: 17px;
    width: 118px;
    height: 24px;
	text-indent: -999em;
	background-position: 0px 0px;
}
.movie .link_more{
	display: block;
    width: 360px;
    height: 256px;
    margin-top: 16px;
    margin-left: 16px;
	overflow: hidden;
}
.wrap_view .videopaper{
	position: absolute;
    bottom: 0;
    right: 16px;
    width: 480px;
    height: 312px;
    background: rgba(247,247,247,.8);
}
.wrap_view .videopaper .title_video {
	position: absolute;
    bottom: 16px;
    left: 16px;
    width: 118px;
    height: 24px;
    text-indent: -999em;
	background-position: 0px -42px;
}
.videopaper .link_more{
	display: block;
    width: 448px;
    height: 252px;
    margin-top: 16px;
    margin-left: 16px;
	overflow: hidden;
}
.wrap_swiper_top{
	width: 628px;
	height: 312px;
	margin-left: -160px;
	margin-top: 400px;
	background: url(../images/img_border.png) no-repeat center/cover;
}
.gallery-top{
	width: 618px;
	height: 312px;
}
.gallery-top{
	position: relative;
}
/* .gallery-top .swiper-wrapper {
	width: 618px;
	height: 312px;
	margin: 0 auto;
} */
.gallery-top .swiper-slide{
	position: relative;
	width: 618px;
	height: 312px;
}
.gallery-top img {
	width: 618px;
	height: 302px;
	position: absolute;
	left: 50%;
	top:50%;
	transform: translate(-50%,-50%);
}
.spr{
	background: url(../images/sprite.png) no-repeat;
	background-size: 1200px 180px;
}

.gallery-thumbs {
    width: 740px !important;
    height: 83px !important;
    box-sizing: border-box;
    display: flex;
    margin-bottom: 0;
    top: 40px;
    left: -160px;
}
.gallery-thumbs .swiper-wrapper{
    width: auto !important;
    height: 83px !important;
}
.gallery-thumbs .swiper-slide {
    width: 245px !important;
    height: 76px !important;
    background-position: 4px 4px ;
    margin-right: 2px;
    font-size: 28px;
    text-align: center;
    line-height: 70px;
    color: #a5a5a4;
}
.gallery-thumbs .swiper-slide-thumb-active {
    opacity: 1;
    width: 245px !important;
    height: 76px !important;
    margin-right: 2px;
    background-position: -278px 0 ;
    color: #fff;
}
.next{
	width: 49px !important;
	height: 90px !important;
	font-size: 0;
	background-position: -587px 0;
	top: auto !important;    
	bottom: -30px !important;
	right: 300px !important;
}
.next:hover{
	background-position: -515px 0;
}
.swiper-button-prev::after,.swiper-button-next::after{
	font-size: 0 !important;
}
.prev{
	width: 49px !important;
	height: 90px !important;
	font-size: 0;
	background-position: -376px 0;
	top: auto !important;    
	bottom: -30px !important;
	left: 0px !important;
}
.prev:hover{
	background-position: -443px 0;
}

/* section1 e */

/* section2 s */
.blog_title{
	width: 292px;
	height: 112px;
	background-position: -376px -128px;
}
.program_title{
	width: 292px;
	height: 112px;
	background-position: -376px -254px;
}
.tool_title{
	width: 292px;
	height: 112px;
	background-position: -384px -380px;
}
/* section2 e */