.glitch-effect {
	/*margin: auto;*/
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
	top: 10px;
	left: 0;
	right: 0;
	color: #FFF;
	text-align: center;
	font-size: 50px;
	letter-spacing: 10px;
	position: relative;
}

.ge-text {
	position: absolute;
	left: -20px;
	top: 0px;
	/*margin: 50px auto;*/
	color: #fff;
	font-size: 50px;
	line-height: 1;
	letter-spacing: 0.01em;
	transform: scale3d(1, 1, 1);
	padding: 10px 50px;
	background-image: linear-gradient(135deg, #72EDF2 10%, #5151E5 100%);
	overflow: hidden;
}

.ge-text::before, .ge-text::after {
	content: attr(aria-title);
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	color: #fff;
	background-image: linear-gradient(135deg, #72EDF2 10%, #5151E5 100%);
	clip-path: inset(79px 50px 43px 0px);
	overflow: hidden;
}

.ge-text::before {
	left: 7px;
	text-shadow: 1px 0 #a1ffce;
	animation: glitch-effect 3s infinite linear alternate-reverse;
}

.ge-text::after {
	left: 3px;
	text-shadow: -1px 0 #faffd1;
	animation: glitch-effect 2s infinite linear alternate-reverse;
}

@keyframes glitch-effect {
	0% {
		clip-path: inset(4px 40px 51px 0px);
	}
	5% {
		clip-path: inset(89px 40px 20px 0px);
	}
	10% {
		clip-path: inset(90px 40px 80px 0px);
	}
	15% {
		clip-path: inset(59px 40px 78px 0px);
	}
	20% {
		clip-path: inset(41px 40px 8px 0px);
	}
	25% {
		clip-path: inset(33px 40px 28px 0px);
	}
	30% {
		clip-path: inset(57px 40px 61px 0px);
	}
	35% {
		clip-path: inset(22px 40px 34px 0px);
	}
	40% {
		clip-path: inset(88px 40px 86px 0px);
	}
	45% {
		clip-path: inset(82px 40px 83px 0px);
	}
	50% {
		clip-path: inset(13px 40px 74px 0px);
	}
	55% {
		clip-path: inset(5px 40px 36px 0px);
	}
	60% {
		clip-path: inset(43px 40px 9px 0px);
	}
	65% {
		clip-path: inset(79px 40px 11px 0px);
	}
	70% {
		clip-path: inset(37px 40px 1px 0px);
	}
	75% {
		clip-path: inset(88px 40px 45px 0px);
	}
	80% {
		clip-path: inset(76px 40px 71px 0px);
	}
	85% {
		clip-path: inset(15px 40px 37px 0px);
	}
	90% {
		clip-path: inset(39px 40px 77px 0px);
	}
	95% {
		clip-path: inset(7px 40px 49px 0px);
	}
	100% {
		clip-path: inset(69px 40px 33px 0px);
	}
}