/*Reset S*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0;
    outline: none;
}
body, html {
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    user-select: none;
    width: 100%;
}
/* html{
    overflow: scroll !important;
} */
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}
a {
    text-decoration: none;
}
a:focus, a:active, a {
    outline: none;
}
a, button, input {
    -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}
a, p, span, i, h1, h2, h3, h4, h5, h6 {
    -webkit-font-smoothing: antialiased;
}
a, img, input {
    border: none;
}
a, img {
    -webkit-touch-callout: none;
}
img {
    height: auto;
}
ul, ol, li {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
input[type="text"], input[type="password"], div, a {
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    border-radius: 0;
    box-sizing: border-box;
}
input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}
.text-hide {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
em, i, b {
    font-style: normal;
}
fieldset, img {
    border: 0;
    display: block;
}
input, textarea, select {
    *font-size: 100%
}
audio, canvas, video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
address, caption, cite, code, dfn, em, th, var {
    font-style: normal;
    font-weight: normal
}
abbr, acronym {
    border: 0;
    font-variant: normal
}
sup {
    vertical-align: text-top
}
sub {
    vertical-align: text-bottom
}
.clear:after {
    content:'\20';
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
    clear: both;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.browser-tips {
    background: #ffc;
    color: #626262;
    font-size: 14px;
    text-align: center;
    padding: 10px 0;
    /*position: absolute;*/
    /*top: 42px;*/
    width: 100%;
    height: 34px;
    line-height: 34px;
    left: 0px;
    right: 0px;
    z-index: 999;
}

.hd {
    display: block;
    text-indent: -9999px;
    color: rgba(0,0,0,0);
}

.hide {
    display: none;
}
body {
    position: relative;
    min-width: 1300px;
    /* overflow: auto !important; */
}
/*Reset E*/
@font-face{
    font-family: 'fz';
    src: url('../images/fzzt.woff');
}
.glitch-effect {
	/*margin: auto;*/
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
	top: 10px;
	left: 0;
	right: 0;
	color: #FFF;
	text-align: center;
	font-size: 50px;
	letter-spacing: 10px;
	position: relative;
}

.ge-text {
	position: absolute;
	left: -20px;
	top: 0px;
	/*margin: 50px auto;*/
	color: #fff;
	font-size: 50px;
	line-height: 1;
	letter-spacing: 0.01em;
	transform: scale3d(1, 1, 1);
	padding: 10px 50px;
	background-image: linear-gradient(135deg, #72EDF2 10%, #5151E5 100%);
	overflow: hidden;
}

.ge-text::before, .ge-text::after {
	content: attr(aria-title);
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	color: #fff;
	background-image: linear-gradient(135deg, #72EDF2 10%, #5151E5 100%);
	clip-path: inset(79px 50px 43px 0px);
	overflow: hidden;
}

.ge-text::before {
	left: 7px;
	text-shadow: 1px 0 #a1ffce;
	animation: glitch-effect 3s infinite linear alternate-reverse;
}

.ge-text::after {
	left: 3px;
	text-shadow: -1px 0 #faffd1;
	animation: glitch-effect 2s infinite linear alternate-reverse;
}

@keyframes glitch-effect {
	0% {
		clip-path: inset(4px 40px 51px 0px);
	}
	5% {
		clip-path: inset(89px 40px 20px 0px);
	}
	10% {
		clip-path: inset(90px 40px 80px 0px);
	}
	15% {
		clip-path: inset(59px 40px 78px 0px);
	}
	20% {
		clip-path: inset(41px 40px 8px 0px);
	}
	25% {
		clip-path: inset(33px 40px 28px 0px);
	}
	30% {
		clip-path: inset(57px 40px 61px 0px);
	}
	35% {
		clip-path: inset(22px 40px 34px 0px);
	}
	40% {
		clip-path: inset(88px 40px 86px 0px);
	}
	45% {
		clip-path: inset(82px 40px 83px 0px);
	}
	50% {
		clip-path: inset(13px 40px 74px 0px);
	}
	55% {
		clip-path: inset(5px 40px 36px 0px);
	}
	60% {
		clip-path: inset(43px 40px 9px 0px);
	}
	65% {
		clip-path: inset(79px 40px 11px 0px);
	}
	70% {
		clip-path: inset(37px 40px 1px 0px);
	}
	75% {
		clip-path: inset(88px 40px 45px 0px);
	}
	80% {
		clip-path: inset(76px 40px 71px 0px);
	}
	85% {
		clip-path: inset(15px 40px 37px 0px);
	}
	90% {
		clip-path: inset(39px 40px 77px 0px);
	}
	95% {
		clip-path: inset(7px 40px 49px 0px);
	}
	100% {
		clip-path: inset(69px 40px 33px 0px);
	}
}